html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;   
    background: #f8f8f8;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.container {    
    margin: 0 auto;
}
.header {
    background-color: #FFF8DC;    
    height: 220px;     
    margin: 0;
}
.wrapper {
    width: 1024px;
/*    width: inherit;*/
    margin: 0 auto;
    height: inherit;    
/*    padding: 20px 20px;*/
    
}
.logo {
    padding: 30px;
}
.content {
    position: relative;
    width: 1024px;
    background-color: #E1E0E1;    
/*
    min-height: 100%;
    height: auto;
    */
    
}
.footer {    
    background-color: #A52A2A;
    height: 110px;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 100%; /* Ширина слоя */
}
.footer-copyrighted {
    position: relative;
    left: 840px;
    margin: 10px 10px 0px 0px;
}
.menu-navbar {
    max-width: 220px; /* блок занимает ширину родителя, max-width её ограничивает */
    min-height: 2em;
    margin-left: auto;
    margin-right: 0em;
    
}
.menu-navbar li {
    display: inline;
}
.menu-navbar li a:hover {
    color: #DAA520;
}
.menu-navbar li a:active {
    color: red;
}
.menu .new.after {
    content: "new";
    color: blue;
}
.menu-catalog img {
    height: 60px;
    
}
.menu-catalog li {
    display: inline;
}
table {
    border: 1px solid #800000;
}
td {
    border: 1px solid #800000;
}
.first_row {
    height: 50px;
}
a {
    color: #483D8B;
    font: Helvetica;
    font-family: monospace;
    font-size: 16px;
}
h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
p {
    margin: 0;
    padding: 0;
}
hr {
    margin: 0;
    padding: 0;
}
.short_discription {
    color:  #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.short_discription p:first-letter {
    font-family: Consolas, monospace;
    font-size: 20px;
    
}
.detail_discription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.detail_discription p:first-letter {
    font-family: Consolas, monospace;
    font-size: 20px;
    
}
.logo {
    display: inline-block;
    float: left;
    padding: 20px 20px 20px 30px;
}
.goods_img img {
    border: 1px solid #800000;
    border-color: #800000;
    height: 150px;
    float: left;
    margin: 0px 20px 0px 0px;
    
    
}
.goods_img img:hover {
    border-color: #f8f8f8;
}
.buy {
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56); 
  padding: .7em 1.5em; 
  outline: none; /* убирать контур в Mozilla */
    
}
.buy:hover { background: rgb(232,95,76); } 
.buy:active { background: rgb(152,15,0); } 
.call_back {
   font: 18px Verdana, Geneva, sans-serif;
    
}
.call_back input:nth-of-type(2) {
    color: #DAA520;
    background-color: #D3D3D3;
}
.call_back input:nth-of-type(4) {
    text-transform: capitalize;
}
.name_user {
    margin-top: 10px;
    height: 18px;
    width: 300px;
    margin-left: 10px;
   
}
.email_user {
    margin-top: 10px;
    margin-left: 10px;
    height: 18px;
    width: 300px;   
}
.message_subject {
    margin-top: 10px;
    margin-left: 10px;
    height: 18px;
    width: 500px;   
}
.mail {
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 500px;
}
.mail input::-webkit-input-placeholder {
    color: red !important;
}
 
.mail input:-moz-placeholder { /* Firefox 18- */
    color: red !important;  
}
 
.mail input::-moz-placeholder {  /* Firefox 19+ */
    color: red !important;  
}
 
.mail input:-ms-input-placeholder {  
    color: red !important;  
}
.send {
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56); 
  padding: .7em 1.5em; 
  outline: none; /* убирать контур в Mozilla */
  margin: 10px 0px 0px 0px;
} 
.send:hover { background: rgb(232,95,76); } 
.send:active { background: rgb(152,15,0); } 

.cancel {
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56); 
  padding: .7em 1.5em; 
  outline: none; /* убирать контур в Mozilla */
     margin: 10px 0px 0px 0px;
} 
.cancel:hover { background: rgb(232,95,76); } 
.cancel:active { background: rgb(152,15,0); } 